<footer class="bd-footer text-muted footer">
    <div class="container">
        {% block footer %}
            <p>&copy; Copyright 2016 by <a href="https://github.com/APanteleychuk/ghsymfony">AlexP</a>.</p>
        {% endblock %}
    </div>
</footer>
<script src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>