{% block sidebar %}
    <div>
        <h2>Sidebar</h2>
        {% if categories is defined %}
            <h4>Category posts</h4>
                <div class="list-group">
                    {% for category in categories %}
                        <a href="" class="list-group-item">{{ category.name }}</a>
                    {% endfor %}
                </div>
        {% endif %}
    </div>
{% endblock %}