<div id="footer">
    {% block footer %}
        &copy; Copyright 2016 by <a href="https://github.com/APanteleychuk/ghsymfony">you</a>.
    {% endblock %}
</div>
<script src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
</body>
</html>