{% extends "PalexBlogBundle::layout.html.twig" %}

{% block page_title %}Add post{% endblock %}
{% block content %}
    <div class="row">
            <div class="block-form col-xs-12">
                {% for flash_message in app.session.flashBag.get('notice') %}
                    <div class="flash-notice col-xs-12">
                        <span style="color: red">{{ flash_message }}</span>
                    </div>
                {% endfor %}
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
    </div>
{% endblock %}
