{% extends "PalexBlogBundle::layout.html.twig" %}

{% block page_title %}My Blog{% endblock %}
{% block content %}
    <div class="row">
            <div class="blog-post">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
            <hr>
    </div>
{% endblock %}
