{% extends "PalexBlogBundle::layout.html.twig" %}

{% block page_title %}My Blog{% endblock %}
{% block content %}
    <div class="row">
        {% for post in posts %}
            <div class="blog-post">
                <h2 class="blog-post-title">{{ post.title }}</h2>
                <img src="{{ asset(post.image) }}">
                <p>{{ post.content }}</p>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}
