{% extends "PalexBlogBundle::layout.html.twig" %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            {{ dump(exception) }}
            {% if exception is defined  %}
                <h2>{{ exception }}</h2>
            {% else %}
                <h2>Content not found!</h2>
            {% endif %}
        </div>
    </div>
{% endblock %}
