<!DOCTYPE html>
<html>
{% include"PalexBlogBundle:Default:_head.html.twig" %}
<body>
{% block body %}
        {% block main_menu %}
            {% include"PalexBlogBundle:Default:_navbar.html.twig" %}
        {% endblock %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <div id="page-title" class="row">
                    <h1>{% block page_title %}{% endblock %}</h1>
                    {{ wo_render_breadcrumbs() }}
                    {% block content %}{% endblock %}

                 </div>
             </div>
            <div class="col-xs-6 col-md-4 sidebar-offcanvas">
                {% include"PalexBlogBundle:Default:_sidebar.html.twig" %}
            </div>
        </div>
    </div>
    {% block javascripts %}{% endblock %}
{% endblock %}
{% include"PalexBlogBundle:Default:_footer.html.twig" %}
</body>
</html>
